/* linechart */

/*
Fill   sets the color        INSIDE the object
Stroke sets the color of the LINE DRAWN AROUND the object.*/

.nd-linechart{
  font-family: sans-serif;
}
.nd-linechart .yaxis path,
.nd-linechart .xaxis path{
  fill: none;
  stroke: black;
}

.nd-linechart .valueline{
  fill: none;
  stroke: black;
}


/* donut chart */
.legend {
  font-size: 12px;
    }
  rect {
      stroke-width: 2;
    }
}
/*barcharts*/


/*div.tooltip{
    position:absolute;
    text-align:center;
    width: 60px;
    height: 28px;
    padding: 3px;
    font: 12px 'Helvetica-light';
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
  }*/

  .d3-tip{
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  .nd-tooltip{
    font-family:'Helvetica-light';
    position: absolute;
    visibility: hidden;
    z-index: 10;
  }

  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }




  .bar{
    fill:deepskyblue;
    stroke:steelblue;
  }
  .bar:hover{
    fill:dodgerblue;

  }
  .nd-barchart-yaxis path{
    fill:none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .nd-barchart-xaxis{
    font-weight:bold;
    font:14px;
    font-family:sans-serif;
  }
  .nd-barchart-xaxis path{
    display: none;
  }
  .nd-barchart-yaxis{
    font-family: sans-serif;
  }
